<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        *{
            text-align: center;
        }
        h2 {
            font-size: 2em;
        }
        button {
            background: #28d;
            width: 10%;
            border-color: transparent;
            color: #fff;
            padding: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2>Data Submitted !</h2>
    <form action="/profile">
        <button>Profile</button>
    </form>

</body>

</html>