<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        *{
            text-align: center;
        }
        h1{
            color: rgb(96, 114, 67);
            font-size: 3em;
        }
        h2 {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>404 Not Found !</h1>
    <h2>Insert your Name in URL</h2>
    <h2>Example: https://my-app-express.herokuapp.com/profile<u>/name</u></h2>
</body>
</html>