<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h2 {
            font-size: 2em;
        }

        input {
            width: 30%;
            border-width: 1px;
            border-style: dashed;
            padding: 10px;
            text-align: center;
            font-size: 1.1em;
        }

        button {
            background: #28d;
            width: 10%;
            border-color: transparent;
            color: #fff;
            padding: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <center>
        <h2>Signup</h2>
        <form action="/dashboard" method="POST">
            <input type="text" name="name" placeholder="name" required> <br> <br>
            <input type="email" name="email" placeholder="email" required> <br> <br>
            <button>Signup</button>
        </form>
    </center>

</body>

</html>